  <hr>
  <% @messages.each do |message| %>
  <% if message.persisted? %>
  <div class="panel">

      <% if message.user_id == message.rental.product.lender_id %>
      <div class="panel-body lender">
      <% else %>
      <div class="panel-body borrower">
      <% end %>
      <div class="form-group">
       On <%= message.created_at %> <%= message.user.email %> said:<br>
     </div>
     <div class="form-group">
      <%= message.content %><br>
    </div>
  </div>
  </div>
  <% end %>
  <% end %>
  </div>
