<div class="col-lg-9 content-right">
   <% if current_user.id == @product.rentals.where({id: "#{params[:rental_id]}"}).first.borrower_id || current_user.id == @product.lender_id %>
  <h2>Rental Discussion</h2>
  <p>Use the form below to communicate with your lender or borrower regarding the rental!</p>
  <hr>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Enter a new message</h3>
      </div>
      <div class="panel-body">
        <%= form_for [@product, @rental, @message] do |f| %>
                       <div class="form-group">
                          <%= f.text_field :content, {class: 'form-control', id: "exampleInputEmail2", placeholder: "Enter your message here", required: ""}%>
                        </div>
      </div>
    </div>
    <div class="well">
      <p>NOTICE:  When submitting a message your message becomes a permanent and unchangable part of this transaction.  Once submitted, messages cannot be changed or removed, under any circumstances.</p>
      <div class="checkbox">
        <label><input type="checkbox"> I agree to the <a href="#">Terms of Use</a></label>
      </div>
      <%= f.submit %>
    </div>
  </div>
  <% end %>
  <% else  %>

        <div class="panel panel-info">
            <div class="panel-body">
              <h1>Oops!</h1>
              <p>It looks like you're trying to access the message page for this transaction. Only the lender or borrower are able to access this page.</p>
            </div>
          </div>
<% end %>
</div>
</div>

