        <div class="col-lg-9 content-right">
          <h4>Items near you!</h4>
          <div style='width: 800px;'>
            <div id="multi_markers" style='width: 800px; height: 400px;'></div>
          </div>
          <div id="slides">

          </div>
          <h4>Recommended</h4>
          <div class="row selected-classifieds">
            <% if params[:tag] %>
              <%= render @products.tagged_with(params[:tag]) %>
            <% elsif params[:category_id] %>
              <%= render @products_category %>
            <% else %>
              <%= render @products %>
            <% end %>
          </div>
        </div>
      </div>
