  <div class="col-lg-9 content-right">
    <div id="mapbox">
      <div id="map-canvas" style="width: auto; height: 320px"></div>
    </div>
    <div><p class="pagination"><%= paginate @products %></p></div>
    <%= render @products %>
    <div class="hidden-lg hidden-md"><p class="pagination"><%= paginate @products %></p></div>
    <div class="row selected-classifieds">
    </div>
  </div>
</div>
