<div>
  <ul>
    <li><h3><%=@product.title%></h3></li>
    <li><h5><%=@product.description%></h5></li>
    <li><h5>$<%=@product.price%></h5></li>
    <li><h5><%=@product.lender.email%></h5></li>
  </ul>
</div>
