      <div class="footer">
        <div class="well well-sm">
          <div class="pull-left">
            <ul class="nav nav-pills">
              <li><%= link_to 'List a new item', new_product_path(@product) %></li>
            </ul>
          </div>
          <div class="pull-right">
            <ul class="nav nav-pills">
              <li><a href="help.html">Help</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="conditions.html">Rules & conditions</a></li>
            </ul>
          </div>
          <div class="clearfix">&nbsp;</div>
        </div>
        <div class="pull-right">
          <p class="text-muted"><small>Copyright &copy; 2014 JustBorrow.it - All Rights Reserved.</small></p>
        </div>
      </div>
    </div>
    <!-- JS -->
    <script>
    $( document ).ready(function() {
      // Drop down menu handler
      $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
      });

    });

    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
      var markers = handler.addMarkers(<%=raw @hash.to_json %>);
      var poop = <%=raw @hash.to_json %>;
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
    </script>
    <!-- /JS -->
      </body>
</html>
